html{
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}
header {
  background-color: #35acac8a;
  color: #333;
  padding: 20px;
  width: 100%;
}
.header-container{
  display: grid;
  grid-template-columns: 1fr 2fr;
}
.logo {
  font-size: 2em;
  font-weight: bold;
  text-align: center;
}

.adoption-links a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  letter-spacing: 0.5em;
  margin: 2em;
}

h2 {
  margin: 0;
  color: #333;
  font-size: 2.5em;
}

p {
  margin: 0;
}


footer{
  background-color:#35acac8a;
  text-align: center;
  padding: 1em;
  font-weight: bold;
  color:#ffffff;
}



/* -------------------  Pets Page -----------------------*/

.content-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 1em;
  margin: 5em;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 2em;
  box-shadow: 0 0 10px #62c0ff5a;
}

.content-container .content {
  margin-right: 2em;
  padding: 2em;
}

.content-container .content h2 {
  color: #333;
  margin-top: 0;
  text-align: center;
  padding: 1em;
}

.content-container .content p {
  margin-bottom: 0;
  line-height: 1.6;
}

.content-container .image {
  padding: 1em;
  margin: auto;
}

.content-container .image img {
  width: 100%;
  border-radius: 5px;
}

/* animal cards - listings */
.pet-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  gap: 4em;
  padding: 20px;
  margin: 4em;
}

.animal-card {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px #62c0ff5a;
  margin: auto;
  border: 1px solid #ccc;
}

.animal-card img {
  width: 100%;
  max-height: 100%;
  border-radius: 5px;
}

.animal-details {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 0.5em;
}
.animal-details h2{
  text-align: center;
  padding-bottom: 0.5em;
}

/* Need adoption */

.need-adoption {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  gap: 2em;
  padding: 2em;
  margin: 4em;
  background-color: #48acac6e;

}
.need-adoption::before {    
  content: "";
  background-image: url(/images/footprints-gcb79a9c01_1280.png);      
  background-size:contain;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.1;
}

.need-adoption h3 {
  margin: 0;
  color: #333;
}

.need-adoption p {
  margin: 0;
  color: #666;
}


/* --------------------- Adoption Page ------------------------ */
.adoption-container {
  max-width: 70%;
  margin: 5em auto;
  padding: 2em;
  border-radius: 5px;
  box-shadow: 0 0 10px #62c0ff5a;
}


.adoption-container p, .adoption-container ul{
  font-size: 1.2em;
}


.adoption-content {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2em;
}

.adopt-info {
  padding: 1em;
  background-color: #f5f5f5;
  border-radius: 5px;
  /* position: relative; */
}

.adopt-info .image{
  padding: 3em;
  max-width: 70%;
  display: block;
  margin: auto;
}

.adopt-info .image img {
  max-width: 100%;
  border-radius: 5px; 
}

.adoption-form {
  padding: 2em;
  align-items: center;
}



.adoption-form input[type="text"],
.adoption-form input[type="email"],
.adoption-form textarea {
  width: 100%;
  padding: 1em;
  margin-bottom: 1em;
}

.adoption-form button {
  padding: 1em;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: auto;


}

.requirements {
  margin-bottom: 2em;
}

.expectations {
  margin-top: 2em; 

}

.expectations ul {
  padding-left: 2em;
  list-style-type: disc;
}

/* ---------------------------- Contact Page ----------------------- */
contact-html{
  height: 100%;
}
.contact-body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
  height: 100%;
  position: relative;
}
.contact-container {
  display: block;
  max-width: 60%;
  margin: 7em auto; 
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px #62c0ff5a;
}

form  h1 {
  text-align: center;
  color: #333;
}
.contact-form {
  margin-bottom: 20px;
}

.contact-form label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.contact-form input[type="text"],
.contact-form textarea {
  width: 95%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

.submit-btn {
  display: block;
  margin: auto;
  width: 50%;
  padding: 1em;
  background-color: #21b225f3;
  color: #fff;
  border: none;
  border-radius: 4px;
}

.submit-btn:hover {
  background-color: #45a049;
}
.contact-footer{
  background-color:#35acac8a;
  text-align: center;
  padding: 1em;
  font-weight: bold;
  color:#ffffff;
  position: absolute;
  bottom: 0;
  width: 100%;
}

@media screen and (max-width: 480px){
    /* header  */

    .header-container{
      grid-template-columns: 1fr;
    }
    .logo {
      font-size: 1em;
      padding-bottom: 1.3em;  
    } 
    .adoption-links{
      text-align: center;
    }
    .adoption-links a {
      letter-spacing: 0.1em;
      margin: 0.5em;
    }

    /* content-containers */
    .content-container{
      grid-template-columns: 2fr;
      margin: 1em;
      padding: 0.5em;
      position: relative;

    }
    .content-container::before{
      content: "";
      /* background-image: url(/images/footprints-gcb79a9c01_1280.png);  */
      background-image: url(/images/paw-g7d15866dc_640.jpg);      
      background-size:contain;
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      opacity: 0.1;
    }
    .image{
      display: none;
    }

    .content-container .content {
      margin-right: 2em;
      padding: 2em;
    }

    /* need adoption area */
    .need-adoption {
      grid-template-columns: 1fr;
      grid-template-rows: auto;
    }
             /* animal cards */
    .pet-container {
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      padding: 2em;
      margin: 1em;
    }
}

 @media only screen and (min-width: 481px) and (max-width: 768px) {
      /* header  */
      .header-container{
        grid-template-columns: 1fr;
      }
      .logo {
        font-size: 1.5em;
        padding-bottom: 1em;
      } 
      .adoption-links{
        text-align: center;
      }
      /* content-containers */
      .content-container{
        position: relative;
        grid-template-columns: 2fr;
        margin: 1.2em;
        padding: 0.7em;
        
      }
      .content-container::before{
        content: "";
        background-image: url(/images/paw-g7d15866dc_640.jpg);      
        background-size:contain;
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        opacity: 0.1;
      }
      .image{
        display: none;
      }

      .need-adoption {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        padding: 1em;
      }
      /* animal cards */
      .pet-container {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        padding: 1em;
        margin: 1.5em;
        max-width: 80%;
      }

      /* Adoption Page */
      .adoption-container {
        max-width: 60%;
      }
              
      .adoption-content {
        grid-template-columns:  1fr;
        gap: 10px;
      }

}

@media only screen and (min-width: 769px) and (max-width: 1024px){
         /* content-containers */
         .content-container{
          position: relative;
          grid-template-columns: 2fr;
          margin: 1.5em;
          padding: 0.9em;
        }
        .content-container::before{
          content: "";
          background-image: url(/images/paw-g7d15866dc_640.jpg);      
          background-size:contain;
          position: absolute;
          top: 0px;
          right: 0px;
          bottom: 0px;
          left: 0px;
          opacity: 0.1;
        }
        .image{
          display: none;
        }

        /* animal cards */
        .pet-container {
          grid-template-columns: repeat(2, 1fr);
          gap: 2em;
          padding: 1em;
          margin: 2em;
        }

        /* Adoption Page */
        .adoption-container {
          max-width: 70%;
          margin: 5em auto;
          padding: 2em;
          border-radius: 5px;
          box-shadow: 0 0 10px #62c0ff5a;
        
        }
        
        .adoption-content {
          grid-template-columns:  1fr;
          gap: 10px;
        }    
}

@media only screen and (min-width: 1025px) and (max-width:  1200px){

}

@media only screen and (min-width: 1201px){

} 